[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/osboxes/Desktop/userfiles.desktop]
row=1
col=1

[/home/osboxes/Desktop/network.desktop]
row=2
col=1

[/home/osboxes/Desktop/settings.desktop]
row=2
col=0

[/home/osboxes/Desktop/helpmanual.desktop]
row=1
col=0

[/home/osboxes/Desktop/computer.desktop]
row=3
col=0

[2022-03-23-00-35-42-41]
row=0
col=1

[Trash]
row=0
col=0

